<section class="container app-todos">
  <app-new-todo></app-new-todo>

  <form>
    <div class="form-group">
      <input class="form-control" name="search" type="text" placeholder="Search..." [(ngModel)]="search" />
    </div>

    <div class="todo-badges">
      <label class="todo-badge">
        <input name="priority" type="radio" [(ngModel)]="priority">
        <span class="todo-badge-content badge badge-pill badge-success">low</span>
      </label>
      <label class="todo-badge">
        <input name="priority" type="radio" [(ngModel)]="priority">
        <span class="todo-badge-content badge badge-pill badge-warning">medium</span>
      </label>
      <label class="todo-badge">
        <input name="priority" type="radio" [(ngModel)]="priority">
        <span class="todo-badge-content badge badge-pill badge-danger">high</span>
      </label>
      <label class="todo-badge">
        <input name="priority" type="radio" [(ngModel)]="priority">
        <span class="todo-badge-content badge badge-pill badge-dark">all</span>
      </label>
    </div>
  </form>

  <ul class="list-group list-group-flush todos-list" *ngIf="todoList">
    <app-todo-item *ngFor="let todo of todoList | filterTodo: search | filterTodo: priority" [todo]="todo"
      (deleted)="deletedTodo()">
    </app-todo-item>
  </ul>

  <div class="text-center" *ngIf="!todoList">
    <p>No data.</p>
  </div>

  <div class="text-center" *ngIf="todoList && !todoList.length">
    <p>Todo list is empty. Please create your first todo.</p>
  </div>

</section>