<div class="container">
  <ul *ngIf="todoList" class="list-group list-group-flush todos-list">
    <li *ngFor="let item of todoList" class="list-group-item todos-item" [class.is-done]="item.isDone">
      <header class="todo-header">
        <div class="d-flex">
          <i class="material-icons check-box">
            {{(item.isDone) ? 'check_box' : 'check_box_outline_blank'}}
          </i>

          <h5 [class.is-done]="item.isDone">
            {{item.title}}
          </h5>
        </div>

        <div class="button-group">
          <button class="btn btn-primary" [disabled]="!item.description">
            show/hide details
          </button>
          <button class="btn btn-danger">del</button>
        </div>

      </header>
      <div class="todo-description">
        {{item.description}}
      </div>
    </li>
  </ul>

  <p *ngIf="!todoList" class="text-center">No data.</p>
</div>