<h2 class="text-center about">Todo Project</h2>
<p class="about-text">
  Todo is the one place where all your projects and tasks are stored – together.
</p>

<div class="about-section">
  <h4 class="about-paragraph">Keep projects on track</h4>
  <p class="about-text">
    Manage your projects in a simple overview panel. Check with one glance the progress of your team. You can adjust and
    create further tasks right there.
  </p>
</div>

<div class="about-section">
  <h4 class="about-paragraph"> Manage and structure tasks</h4>
  <p class="about-text">
    Set up tasks and create giant to-do lists. Prioritize and filter your tasks as desired. Work together and assign
    tasks
    to your team members.
  </p>
  <p class="about-text">
    A single page gives you access to your assigned tasks, allowing you to check items off and add new tasks with a few
    clicks. Filter your list as desired.
  </p>
</div>

<div class="about-section">
  <h4 class="about-paragraph">Describe your tasks</h4>
  <p class="about-text">
    You can add a description for every task. Thus, it will give you more details on it (for example, tutorial links,
    meeting rooms, GCalendar links etc.) and you save time searching for
    information.
  </p>
</div>