<h2 class="text-center">About Project</h2>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus earum est cupiditate porro, aliquam voluptates
  aliquid animi provident, in iusto ad autem facilis tempora esse sint laborum rem! Excepturi, non recusandae. Ea et
  perspiciatis incidunt, suscipit eos ad nam magni corporis earum, commodi nobis!
</p>
<p>
  Dolorem ullam quasi in facilis ex
  fugit nemo impedit numquam corrupti, animi optio quos ad nisi voluptates inventore quas id. Fugiat, dolore, aliquam
  esse sint perspiciatis perferendis molestiae, dolores obcaecati incidunt beatae sed dicta ipsa doloremque voluptates
  doloribus reiciendis!
</p>
<p>
  Voluptatem ipsam illo nemo officiis quam, blanditiis dolore, debitis magnam, placeat delectus
  culpa voluptatum impedit assumenda aliquam laudantium quis expedita veniam numquam omnis a error. Consequuntur neque
  ea, impedit eligendi aliquam officia nostrum! Hic, deleniti dignissimos? Dolor.
</p>