<li class="list-group-item todos-item">
  <header class="todo-header">
    <div class="d-flex">
      <i class="material-icons check-box">
        {{ todo.isDone ? 'check_box' : 'check_box_outline_blank' }}
      </i>

      <h5 [class.is-done]="todo.isDone">
        {{todo.title}}
      </h5>
    </div>

    <div class="todo-btn-group">
      <button class="btn btn-primary" [disabled]="!todo.description">show/hide details</button>

      <button class="btn btn-danger">delete</button>
    </div>
  </header>

  <div class="todo-description">
    {{todo.description}}
  </div>
</li>