.is-done {
  text-decoration: line-through;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-box {
  margin-right: 15px;
  cursor: pointer;
}

.todo-btn-group button:not(:last-child) {
  margin-right: 5px;
}

.todo-description {
  padding: 10px 0px;
}

.todo-priority {
  margin-left: 7px;
}

@media screen and (max-width: 500px) {
  .todo-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .todo-title {
    font-size: 18px;
  }

  .todo-btn-group {
    margin-top: 10px;
  }
}

@media screen and (max-width: 304px) {
  .todo-header,
  .todo-btn-group {
    margin-top: 15px;
  }

  .btn:not(:last-of-type) {
    margin-bottom: 10px;
  }
}