<li class="list-group-item todos-item">
  <header class="todo-header">
    <div class="d-flex">
      <i class="material-icons check-box" (click)="toggleTodo()">
        {{ todo.isDone ? 'check_box' : 'check_box_outline_blank' }}
      </i>

      <h5 class="todo-title" [class.is-done]="todo.isDone">
        {{todo.title}}
      </h5>

      <div class="todo-priority">
        <span class="todo-badge-content badge badge-pill" [class.badge-success]="todo.priority == 'low'"
          [class.badge-warning]="todo.priority == 'medium'"
          [class.badge-danger]="todo.priority == 'high'">{{todo.priority}}</span>
      </div>
    </div>

    <div class="todo-btn-group">
      <button type="button" class="btn btn-secondary" [disabled]="!todo.description" (click)="toggleDesc()">
        {{ isDescriptionShown ? 'hide details' : 'show details' | lowercase }}
      </button>

      <button type="button" class="btn btn-primary" (click)="editTodo()">
        {{'edit' | lowercase}}
      </button>

      <button type="button" class="btn btn-danger" (click)="delTodo(todo.id)">{{'delete' | lowercase}}</button>
    </div>
  </header>

  <div class="todo-description" *ngIf="isDescriptionShown">
    {{todo.description}}
  </div>
</li>