<h2 class="text-center">About Us</h2>

<h4>Хто я? &copy;</h4>
<p>
  Really, who we are? </p>
<p>We are a group of people who joined Beetroot for studying and teaching Front-End. With tiny kids steps
  we were exploring more and more cool info about Front-End and fortunately didn't sink in this huge code ocean.
  We were with you for 4 months and hope you enjoyed this time. Want to know more about us? Check below ;) And don't
  forget to celebrate Christmas and New Year!
</p>

<div class="card-group">
  <div class="card" *ngFor="let item of userList">
    <img class="card-img-top" [src]="item.photo" alt="{{item.name}} photo">

    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.description}}</p>
      <a class="btn btn-primary" [routerLink]="item.id"> More info</a>
    </div>

    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>