<form class="app-new-todo" (ngSubmit)="onSubmit()" [formGroup]="newTodoForm">

  <div class="form-group">
    <input type="text" name="title" minlength="3" class="form-control" placeholder="Todo title" formControlName="title"
      [ngClass]="{
      'is-valid': titleControl.valid && isSubmit,
      'is-invalid': titleControl.invalid && isSubmit}">

    <div class="invalid-feedback" *ngIf="titleControl.errors && isSubmit">
      <span *ngIf="titleControl.errors.minlength">
        Todo title should have at least 3 characters.
      </span>

      <span *ngIf="titleControl.errors.required">
        Todo title is a mandatory field.
      </span>
    </div>
  </div>

  <div class="form-group">
    <textarea name="description" rows="3" class="form-control" placeholder="Description"
      formControlName="description"></textarea>
  </div>

  <div class="todo-priority">
    <p>Priority:</p>

    <div class="todo-badges">
      <div class="todo-badge form-check">
        <input class="form-check-input" type="radio" name="priority-label" id="low" value="low" checked>
        <label class="form-check-label" for="low">
          <span class="todo-badge-content badge badge-pill badge-success">Low</span>
        </label>
      </div>

      <div class="todo-badge form-check">
        <input class="form-check-input" type="radio" name="priority-label" id="medium" value="medium" checked>
        <label class="form-check-label" for="medium">
          <span class="todo-badge-content badge badge-pill badge-warning">Medium</span>
        </label>
      </div>

      <div class="todo-badge form-check">
        <input class="form-check-input" type="radio" name="priority-label" id="high" value="high" checked>
        <label class="form-check-label" for="high">
          <span class="todo-badge-content badge badge-pill badge-danger">High</span>
        </label>
      </div>
    </div>
  </div>

  <footer>
    <!-- [disabled]="newTodoForm.invalid" -->
    <button class="btn btn-primary" type="submit">
      Create
    </button>
  </footer>

</form>