.app-new-todo {
  padding-top: 20px;
  padding-bottom: 20px;

  footer {
    display: flex;
    justify-content: flex-end;
  }

  .todo-badges {
    display: flex;
    justify-content: flex-start;
  }

  .todo-badge {
    margin-right: 30px;
    display: flex;
    align-items: center;
  }
}